<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:remove="all">Confirm your email</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <style>
    p {
      direction: ltr;
      font: small/1.5 Arial, Helvetica, sans-serif;
      font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
      margin: 0;
      color: #4c4c4c;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
    }

    td{
      padding: 20px;
    }
  </style>
</head>

<body style="padding:0;margin:0 auto;width:100%!important;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
  <table align="center" width=100% style="background-color:#edf0f3;table-layout:fixed">
    <tbody>
      <tr>
        <td align="center">
          <center style="width: 100%;">
            <table style="background-color:#ffffff;margin:0 auto;max-width:512px;width:inherit">
              <tr>
                <td style="background-color: #191922"><a style="color: #C9C9C9; font-size: larger; vertical-align: middle;" href="indie-vibe.com"><img width="95" height="95" src="logo.png" th:src="'cid:' + ${logo}" /></a></td>
              </tr>
              <tr>
                <td>
                  <p>
                    Your report for <b th:text="${artist}"></b>'s content has been process
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    After careful consideration our moderator has <span th:text="${action}"></span> your report. 
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Thank you for your contribution to the community and hope you will continue to support us. 
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    Regards, <br />
                    <em>The Indie Vibe Team</em>
                  </p>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>